.footer {
    width: 100%;
    height: 70px;
    background-color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
}

.socialMedia svg {
    color: black;
    padding-left: 21px;
    padding-bottom: 4px;
    font-size: 30px;
    cursor: pointer;
}

.footer p {
    color: black;
    font-size: 12px;
    margin: 0;
}